* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 80px;
}

#displayBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #eee;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

#displayBtn:hover {
  background-color: white;
}

.msgBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 20px;
  background: #eee;
  padding: 20px;
  cursor: pointer;
}

.msgBox:hover {
  background-color: white;
}

.msgBox p {
  line-height: 1.5;
  font-size: 24px;
  color: #333;
  padding-left: 60px;
  background-position: 0 center;
  background-repeat: no-repeat;
  /* padding: 0 40px 0 60px; */
}

/* .msgBox button {
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
} */
