body {
  background-color: #eee;
}

#content {
  width: 400px;
  background: #fff;
  padding: 20px;
  padding-top: 0;
  font-size: 18px;
  color: #444;
  margin: 20px auto;

  max-height: 400px;
  overflow: hidden;

  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#content.open {
  max-height: 1000px;

  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#show_more {
  background: #1594e5;
  color: #fff;
  display: block;
  width: 160px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

#message {
  width: 400px;
  background: #ddaaaa;
  padding: 20px;
  font-size: 18px;
  color: #444;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ff7777;
  font-weight: bold;

  opacity: 0;
}

#message.show {
  opacity: 1;

  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

#color_changer {
  width: 200px;
  height: 100px;
  margin: 30px auto;
  border: 1px solid #000;
  background-color: #fff;

  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
